<% unless flash.empty? %>
  <% flash.each do |type, message| %>
    <div class="ui <%= type %> message">
      <i class="close icon"></i>
      <div class="header">
        <%= message %>
      </div>
      <% unless errors.empty? %>
        <ul class="list">
          <% errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end  %>
<% end %>
