<div class="row">
  <div class="ten wide column">
    <%= render "flash_messages", errors: @errors %>
  </div>
</div>
<div class="row">
  <div class="ten wide column">
    <%= link_to root_path, class: 'ui header' do %>
      <h1 class="ui header">Teste E-Commerce</h1>
    <% end %>
    <div class="ui divider">

    </div>
    <%= form_tag(upload_path, multipart: true, class: "ui form", id: "upload_form") do |form| %>
      <div class="field">
        <label for="file">Arquivo de entrada</label>
        <%= file_field_tag "file" %>
      </div>

      <div class="field">
        <%= submit_tag "Gerar arquivo de saída", class: "ui button"%>
      </div>
    <% end %>
  </div>
</div>
